$breakpoint-tablet: 968px;
$breakpoint-phone: 500px;
$color3: #f5f5f6;
// $color1:#98ee99;
$color1: #e1e2e1;
$color2: #338a3e;
$grey: #e1e2e1;
$grey-light: #f5f5f6;
$dark: #338a3e;
$light: #98ee99;
$primary: #66bb6a;

* {
    box-sizing: border-box;
    color: black;
}

body {
    margin: auto;
    max-width: 1440px;
    min-width: 670px;
    width: 100%;
    background: $color1;
    // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    //     "Helvetica Neue", sans-serif;
    // font-family:
    // font-family: 'Roboto-Mono';
    font-family: "Roboto";
}

header {
    padding-left: 35px;
    padding-right: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: $primary;

    .name-wrapper {
        display: flex;
        align-items: center;
        gap: 25px;

        h1 {
            font-variant-caps: all-small-caps;
        }

        .header-photo {
            width: 60px;
            height: 60px;
            background-color: black;
            border-radius: 60px;
            transform: translate(0px, -100px);
            transition: all 0.5s;
            @media (max-width: $breakpoint-tablet) {
                transform: translate(0px, 0px);
                transition: all 0.5s;
            }
        }

        img {
            width: 100%;
            border-radius: 50%;
        }
    }

    nav {
        display: flex;
        align-items: center;
        ul {
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 25px;

            li {
                font-size: larger;
                list-style-type: none;
            }
        }
    }
}
main {
    display: flex;

    aside {
        flex: 1 3 350px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        // background: rebeccapurple;
        background: $light;
        transition: all 0.5s;
        @media (max-width: $breakpoint-tablet) {
            transform: translate(-850px, 0px);
            // width: 0;
            flex: none;
            position: absolute;
            transition: all 0.5s;
        }

        .photo-wrapper {
            width: 100%;

            img {
                width: 100%;
                opacity: 0.9;
                border-radius: 1%;
            }
        }

        .contacts-wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 40px;
            .icons-wrapper {
                width: 50px;
                height: 50px;
                display: flex;
                position: relative;
                .icon {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    // fill: red;
                }
            }
        }

        .education-wrapper,
        .language-wrapper {
            p {
                margin-left: 15px;
            }
        }
    }

    section {
        // width: 700px;
        font-size: 20px;
        padding: 35px;
        flex: 5 1 350px;
        // height: 1000px;
        background: $color3;
        .projects-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap:25px;
            .project {
                width: 350px;
                height: 233px;
                background: grey;
                overflow: hidden;
                position: relative;
                transition: 0.3s ease;
                

                
                @media (max-width: $breakpoint-tablet) {
                    width: 550px;
                    height: calc(550px/1.5);
                }

                &.game{
                    background:left 0% / 100% 100% no-repeat url(assets/png/game.png);
                }
                &.movie{
                    background:left 0% / 100% 100% no-repeat url(assets/png/movie-app.png);
                }
                &.portfolio{
                    background:left 0% / 100% 100% no-repeat url(assets/png/portfolio.png);     
                }

                .description-project {
                    position: absolute;
                    width: inherit;
                    height: inherit;
                    transform: translateY(100%);
                    transition: all 0.5s;
                    opacity: 0;
                    &.push {
                        overflow: hidden;
                        opacity: 0.9;
                        background: $grey;
                        transform: translateY(0);
                        transition: all 0.5s;
                        display: flex;
                    }

                    .link-wrapper{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        position: absolute;
                        width: 120px;
                        height: 70px;
                        margin: auto;
                        top: 0; left: 0; bottom: 0; right: 0;
                        &:hover{
                            opacity: 0.6;
                        }
                        
                        img{
                            width: 50px;
                            height: 50px;
                        }
                        a{
                            font-size: 35px;
                            font-style: italic;
                            text-decoration: none;
                            opacity: 0.85;
                            p{
                            }
                        }
                        
                    }
                }
            }
        }

        .code-wrapper {
            overflow: hidden;
            border: 2px solid black;
            @media (max-width: $breakpoint-tablet) and (min-width: $breakpoint-phone){
                overflow: auto;
            }
            pre {
                width: 20vw;

                .language-javascript {
                    .blue {
                        color: blue;
                    }

                    .purple {
                        color: rgb(211, 9, 211);
                    }

                    .yellow {
                        color: rgb(126, 126, 4);
                    }

                    .green {
                        color: green;
                    }
                }
            }
        }
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    height: 50px;
    img{
        width: 50px;
    }
    // background-color: black
}

