* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: black;
}

body {
  margin: auto;
  max-width: 1440px;
  min-width: 670px;
  width: 100%;
  background: #e1e2e1;
  font-family: "Roboto";
}

header {
  padding-left: 35px;
  padding-right: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #66bb6a;
}

header .name-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

header .name-wrapper h1 {
  font-variant-caps: all-small-caps;
}

header .name-wrapper .header-photo {
  width: 60px;
  height: 60px;
  background-color: black;
  border-radius: 60px;
  -webkit-transform: translate(0px, -100px);
          transform: translate(0px, -100px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (max-width: 968px) {
  header .name-wrapper .header-photo {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
}

header .name-wrapper img {
  width: 100%;
  border-radius: 50%;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 25px;
}

header nav ul li {
  font-size: larger;
  list-style-type: none;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main aside {
  -webkit-box-flex: 1;
      -ms-flex: 1 3 350px;
          flex: 1 3 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  background: #98ee99;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (max-width: 968px) {
  main aside {
    -webkit-transform: translate(-850px, 0px);
            transform: translate(-850px, 0px);
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    position: absolute;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
}

main aside .photo-wrapper {
  width: 100%;
}

main aside .photo-wrapper img {
  width: 100%;
  opacity: 0.9;
  border-radius: 1%;
}

main aside .contacts-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}

main aside .contacts-wrapper .icons-wrapper {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

main aside .contacts-wrapper .icons-wrapper .icon {
  width: 100%;
  height: 100%;
  position: absolute;
}

main aside .education-wrapper p,
main aside .language-wrapper p {
  margin-left: 15px;
}

main section {
  font-size: 20px;
  padding: 35px;
  -webkit-box-flex: 5;
      -ms-flex: 5 1 350px;
          flex: 5 1 350px;
  background: #f5f5f6;
}

main section .projects-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
}

main section .projects-wrapper .project {
  width: 350px;
  height: 233px;
  background: grey;
  overflow: hidden;
  position: relative;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

@media (max-width: 968px) {
  main section .projects-wrapper .project {
    width: 550px;
    height: calc(550px/1.5);
  }
}

main section .projects-wrapper .project.game {
  background: left 0%/100% 100% no-repeat url(assets/png/game.png);
}

main section .projects-wrapper .project.movie {
  background: left 0%/100% 100% no-repeat url(assets/png/movie-app.png);
}

main section .projects-wrapper .project.portfolio {
  background: left 0%/100% 100% no-repeat url(assets/png/portfolio.png);
}

main section .projects-wrapper .project .description-project {
  position: absolute;
  width: inherit;
  height: inherit;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
}

main section .projects-wrapper .project .description-project.push {
  overflow: hidden;
  opacity: 0.9;
  background: #e1e2e1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main section .projects-wrapper .project .description-project .link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 120px;
  height: 70px;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

main section .projects-wrapper .project .description-project .link-wrapper:hover {
  opacity: 0.6;
}

main section .projects-wrapper .project .description-project .link-wrapper img {
  width: 50px;
  height: 50px;
}

main section .projects-wrapper .project .description-project .link-wrapper a {
  font-size: 35px;
  font-style: italic;
  text-decoration: none;
  opacity: 0.85;
}

main section .code-wrapper {
  overflow: hidden;
  border: 2px solid black;
}

@media (max-width: 968px) and (min-width: 500px) {
  main section .code-wrapper {
    overflow: auto;
  }
}

main section .code-wrapper pre {
  width: 20vw;
}

main section .code-wrapper pre .language-javascript .blue {
  color: blue;
}

main section .code-wrapper pre .language-javascript .purple {
  color: #d309d3;
}

main section .code-wrapper pre .language-javascript .yellow {
  color: #7e7e04;
}

main section .code-wrapper pre .language-javascript .green {
  color: green;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
  height: 50px;
}

footer img {
  width: 50px;
}
/*# sourceMappingURL=style.css.map */