h2,
h3,
h4,
h5 {
  margin: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: black;
}

body {
  margin: auto;
  max-width: 1440px;
  min-width: 670px;
  width: 100%;
  background: #e1e2e1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  padding-left: 35px;
  padding-right: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #66bb6a;
}
header .name-wrapper {
  display: flex;
  align-items: center;
  gap: 25px;
}
header .name-wrapper h1 {
  font-variant-caps: all-small-caps;
}
header .name-wrapper .header-photo {
  width: 60px;
  height: 60px;
  background-color: black;
  border-radius: 60px;
  transform: translate(0px, -100px);
  transition: all 0.5s;
}
@media (max-width: 968px) {
  header .name-wrapper .header-photo {
    transform: translate(0px, 0px);
    transition: all 0.5s;
  }
}
header .name-wrapper img {
  width: 100%;
  border-radius: 50%;
}
header nav {
  display: flex;
  align-items: center;
}
header nav ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 25px;
}
header nav ul li {
  font-size: larger;
  list-style-type: none;
}

main {
  display: flex;
}
main aside {
  flex: 1 3 350px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #98ee99;
  transition: all 0.5s;
}
@media (max-width: 968px) {
  main aside {
    transform: translate(-850px, 0px);
    flex: none;
    position: absolute;
    transition: all 0.5s;
  }
}
main aside .photo-wrapper {
  width: 100%;
}
main aside .photo-wrapper img {
  width: 100%;
  opacity: 0.9;
  border-radius: 1%;
}
main aside .contacts-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
}
main aside .contacts-wrapper .icons-wrapper {
  width: 50px;
  height: 50px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
main aside .contacts-wrapper .icons-wrapper .icon {
  width: 100%;
  height: 100%;
  display: flex;
}
main aside .education-wrapper p,
main aside .language-wrapper p {
  margin-left: 15px;
}
main section {
  font-size: 20px;
  padding: 35px;
  flex: 5 1 350px;
  background: #f5f5f6;
}
main section .projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}
main section .projects-wrapper .project__container {
  width: 80%;
  aspect-ratio: 3/2;
  background: grey;
  overflow: hidden;
  position: relative;
  transition: 0.3s ease;
  cursor: pointer;
}
main section .projects-wrapper .project__container.push {
  cursor: auto;
}
main section .projects-wrapper .project__container.push .description-project {
  overflow: hidden;
  opacity: 0.9;
  background: #e1e2e1;
  transform: translateY(0);
  transition: all 0.5s;
  display: flex;
}
@media (max-width: 968px) {
  main section .projects-wrapper .project__container {
    width: 550px;
    height: 366.6666666667px;
  }
}
main section .projects-wrapper .project__container .project__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main section .projects-wrapper .project__container .description-project {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  aspect-ratio: 3/2;
  transform: translateY(100%);
  transition: all 0.5s;
  opacity: 0;
  align-items: center;
  gap: 10px;
  padding: 20px;
}
main section .projects-wrapper .project__container .description-project h2,
main section .projects-wrapper .project__container .description-project h3,
main section .projects-wrapper .project__container .description-project h4 {
  text-align: center;
}
main section .projects-wrapper .project__container .description-project h4 {
  margin-bottom: 30px;
}
main section .projects-wrapper .project__container .description-project .link-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 120px;
  height: 70px;
}
main section .projects-wrapper .project__container .description-project .link-wrapper:hover {
  opacity: 0.6;
}
main section .projects-wrapper .project__container .description-project .link-wrapper img {
  width: 50px;
  height: 50px;
}
main section .projects-wrapper .project__container .description-project .link-wrapper a {
  font-size: 35px;
  font-style: italic;
  text-decoration: none;
  opacity: 0.85;
}
main section .code-wrapper {
  overflow: hidden;
  border: 2px solid black;
}
@media (max-width: 968px) and (min-width: 500px) {
  main section .code-wrapper {
    overflow: auto;
  }
}
main section .code-wrapper pre {
  width: 20vw;
}
main section .code-wrapper pre .language-javascript .blue {
  color: blue;
}
main section .code-wrapper pre .language-javascript .purple {
  color: rgb(211, 9, 211);
}
main section .code-wrapper pre .language-javascript .yellow {
  color: rgb(126, 126, 4);
}
main section .code-wrapper pre .language-javascript .green {
  color: green;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  height: 50px;
}
footer img {
  width: 50px;
}

/*# sourceMappingURL=style.css.map */
